@use "../../styles//colors" as *;

.tag {
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: $light-purple1;
  }
}
