// Dark Variations
$dark1: #000;
$dark2: #1a1a1a;
$dark3: #1d1d1d;
$dark4: #0d1117;
$dark5: #242424;
$dark6: #3d444db3;

// Light Variations
$light1: #fff;
$light2: #fbfcf8;
$light3: #f9f9f9;
$light4: rgba(255, 255, 255, 0.87);
$light5: #f0f0fa;

// Accent Colors
$dark-purple: #535bf2;
$purple: #646cff;
$light-purple1: #646cffaa;
$light-purple2: #747bff;
$dark-radium: #213547;
$vanilla-blue: #3178c6aa;
$light-gray: #888;

// Color Scheme Variables
$bg-color-dark: $dark4;
$text-color-dark: $light3;
$bg-color-light: $light2;
$text-color-light: $dark-radium;

// shadows
$dark-shadow: $dark6;
$light-shadow: $light-gray;
