// Shadow mixin
@mixin box-shadow(
  $h-offSet: 0,
  $v-offSet: 0,
  $blur-radius: 8px,
  $color: #f1f1f1
) {
  box-shadow: $h-offSet $v-offSet $blur-radius $color;
}

// Button Mixin
@mixin button-style($bg-color, $hover-color) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $bg-color;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $hover-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

// Export mixins
// @forward "./_mixins";
