@use "./_colors" as *;

// Utility class for documentation links
.read-the-docs {
  color: $light-gray;
}

.helper-link {
  margin-top: 1rem;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
  z-index: 10;
}
