@use "./_colors" as *;

// Utility class for documentation links
.read-the-docs {
  color: $light-gray;
  width: 50%;
}

.helper-link {
  color: $light-purple2;
  cursor: pointer;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
  z-index: 10;
}
