.resultContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem; 
  border-radius: 1.5rem;
  box-shadow: 0 0 10px -1px purple;
}
.resultLeft {
  width: 70%;
}
.resultRight {
    width: 30%;
    text-align: right;
}
.tagsContainer{
  margin-top: 1rem;
  
}
