@use "../../styles/colors" as *;

.bgContainer {
  margin: 4rem 20rem;
}

.basicDetailsContainer {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  & .basicDetailsLeft {
    width: 70%;
  }

  & .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 22rem;
  }

  & .ownerDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .repoTags {
    margin: 0.5rem 0;
  }

  & .repoTags .tags {
    background-color: darkslateblue;
    margin: 0 0.2rem;
  }

  & .bugIcon,
  .forkIcon,
  .starIcon,
  .eyeIcon {
    font-size: 1.5rem;
  }
}

.repoStatisticsContainer {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.chartAndLinks {
  display: flex;
  justify-content: space-evenly;
}

.languagesUsedContainer {
  box-shadow: 0 0 1.5rem -5px $light6;
  margin: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.languageChartAndListContainer {
  display: flex;
  justify-content: space-around;
  & ul {
    margin-top: 7rem;
  }
}

.chart {
}

.repoActivityContainer {
  margin: 1rem;
}

.repoLinksAndActionsContainer {
  box-shadow: 0 0 1.5rem -5px $light6;
  margin: 1rem;
  width: 50%;
  padding: 1rem;
}

.tabsSection {
  box-shadow: 0 0 1.5rem -5px $light6;
  margin: 2rem 1rem;
  padding: 1rem;
}

.readmeContainer {
  margin: 1rem;
}

.codeInsightsContainer {
  margin: 1rem;
}

.issuesContainer {
  margin: 1rem;
}

.discussionsContainer {
  margin: 1rem;
}
