@use "../../styles/colors" as *;

.facetContainer {
  // padding: 1rem;
  width: 100%;
  min-width: 16rem;
  // border: 1px solid red;
  margin-bottom: 1rem;
}
.titelSection {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
}
.clearBtn {
  all: unset;
  padding: 0;
}
.facetListContainer {
  padding: 1rem;
}
.listItem {
  display: flex;
  align-items: center;
}
.checkbox {
  margin: 0 0.5rem 0 0;
}
