@use "../../styles/colors" as *;

.facetContainer {
  width: 100%;
  min-width: 16rem;
  margin-bottom: 1rem;
}
.titelSection {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
}
.clearBtn {
  background-color: $light6;
  padding: 0.3rem 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  &:focus,
  &:focus-visible {
    border: none;
    outline: none;
  }
  &:hover {
    border: 1px solid $dark6;
  }
}
.facetListContainer {
  padding: 1rem;
}
.listItem {
  display: flex;
  align-items: center;
}
.checkbox {
  margin: 0 0.5rem 0 0;
}
