.facetContainer {
  padding: 1rem;
  width: 100%;
  min-width: 16rem;
}
.titelSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clearBtn {
  all: unset;
  padding: 0;
}
.facetListContainer {
  padding: 1rem;
}
.listItem {
  display: flex;
  align-items: center;
}
.checkbox {
  margin: 0 0.5rem 0 0;
}
