// @use "../../styles/utilities" as *;

.userMenu {
  cursor: pointer;
  position: relative;
  & ul {
    position: fixed;
    right: 3rem;
    top: 1.5rem;
    list-style-type: none;
    display: none;
    & li {
      font-size: 1rem;
    }
  }
}

