.tagsContainer {
  list-style-type: none;
  display: flex;
  align-items: flex-start;

  & strong {
    margin: 0.1rem 0.5rem 0 0;
  }

  & .tagsInnerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0;
  }
}
