/* fonts */
$font1: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font2: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font3: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font4: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font5: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

/* colors */

$color-scheme: light dark;

// dark variations
$dark1: #000;
$dark2: #1a1a1a;
$dark3: #1d1d1d;
$dark4: #0d1117;
$dark5: #242424;

// light variations1
$light1: #fff;
$light2: #fbfcf8;
$light3: #f9f9f9;
$light4: rgba(255, 255, 255, 0.87);

// others
$dark-purple: #535bf2;
$purple: #646cff;
$light-purple1: #646cffaa;
$light-purple2: #747bff;
$dark-radium: #213547;
$vanilla-blue: #3178c6aa;
$light-gray: #888;
