@use "../../styles/colors" as *;

.bgContainer {
  padding: 3rem;
}

.resultsContainer {
  padding: 2rem 0;
}

.resultsPageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sort {
  float: right;
}
