@use "../../styles/colors" as *;

.bgContainer {
  padding: 3rem;
}

.searchPageContainer {
  display: flex;
  margin: 0 10rem;
}

.facetsContainer {
  margin-right: 2rem;
}

.mainSearchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchBoxContainer {
  margin-bottom: 2rem;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
}

.resultsContainer {
  width: 100%;
}

.paginationContainer {
}
